{% extends "base.html" %}

{% block content %}

  <h2 class="ui dividing header">
    Module: {{ module.code }}
    <div class="sub header">{{ module.name }}</div>
  </h2>

  <div class="ui stackable grid">
    <div class="nine wide column">
      <h5 class="ui top attached header">
        Time Slots
      </h5>

      <!-- <div class="ui attached segment">
      </div> -->

      <div class="ui bottom attached segment">
        <table class="ui very basic table">
          <thead>
            <tr>
              <th>Time</th>
              <th>Location</th>
              <th>Attendance</th>
              <th>Sheet</th>
            </tr>
          </thead>
          <tbody>
            {% for slot in timeslots %}
              <tr>
                <td>
                  <h4 class="ui image header">
                    <!-- <img src="/images/avatar2/small/lena.png" class="ui mini rounded image"> -->
                    <div class="content">
                      {{ slot.start_time_wordy() }}
                      <div class="sub header">{{ slot.printable_duration() }}</div>
                    </div>
                  </h4>
                </td>
                <td>{{ slot.location }}</td>
                <td>
                  {% if slot.is_attendance_recorded() %}
                    {{ "{:.1%}".format(slot.get_attendance()) }}
                  {% else %}
                    n/a
                  {% endif %}
                </td>
                <td>
                  {% if slot.is_sheet_generated() %}
                    <a href="/timeslots/{{slot.id}}" class="ui small primary button">View/Upload Sheet</a>
                  {% else %}
                    <a href="/timeslots/{{slot.id}}" class="ui small primary basic button">Generate Sheet</a>
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    <div class="seven wide column">
      {% if timeslots | length > 0 %}
        <div class="ui statistic">
          <div class="label">
            Overall attendance
          </div>
          <div class="value">
            {{ "{:.1%}".format(module.get_overall_attendance()) }}
          </div>
        </div>
      {% else %}
        <div class="ui statistic">
          <div class="label">
            No attendance information yet
          </div>
        </div>
      {% endif %}

      <div class="ui divider"></div>

      <div class="ui celled list">
        <h4 class="ui sub header">{{ students.count() }} students currently registered</h4>
        {% include "_student_list.html" %}
      </div>
    </div>
  </div>


{% endblock content %}
