{% extends "base.html" %}

{% block content %}

  <h2 class="ui dividing header">
    {{ module.code }}
    <div class="sub header">{{ module.name }}</div>
  </h2>

  <div class="ui grid">
    <div class="nine wide column">
      <div class="ui segment">
        <h3>Time Slots</h3>
        <table class="ui very basic collapsing celled table">
          <thead>
            <tr>
              <th>Time</th>
              <th>Location</th>
              <th>Attendance</th>
              <th>Sheet</th>
            </tr>
          </thead>
          {% for slot in time_slots %}
            <tbody>
              <tr>
                <td>
                  <h4 class="ui image header">
                    <!-- <img src="/images/avatar2/small/lena.png" class="ui mini rounded image"> -->
                    <div class="content">
                      {{ slot.printable_start() }}
                      <div class="sub header">{{ slot.printable_duration() }}</div>
                    </div>
                  </h4>
                </td>
                <td>{{ slot.location }}</td>
                <td>
                  100%
                </td>
                <td>
                  <a href="/time_slots/{{slot.id}}/sheet" class="ui button">Generate Sign-in Sheet</a>
                </td>
              </tr>
            </tbody>
          {% endfor %}
        </table>
      </div>
    </div>

    <div class="seven wide column">
      <div class="ui celled list">
        <h3>Students</h3>
        {% for student in students %}
          <div class="item">
            <!-- <img class="ui avatar image" src="/images/avatar/small/helen.jpg"> -->
            <div class="content">
              <div class="header">
                <a href="{{ "url student_show id" }}">{{student.name()}}</a>
              </div>
              {{student.id}} - 100% attendance
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>


{% endblock content %}
