{% extends "base.html" %}

{% block content %}

  <h3>All students</h3>
  <div class="ui grid">
 <div class="eight wide column">



  <table class="ui striped celled table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Modules</th>
      </tr>
    </thead>
    <tbody>
      {% for student in students %}
        <tr>
          <td>{{student.first_name}} {{ student.last_name }}</td>
          <td>{% for module in student.get_modules() %} {{module.code}},  {% endfor %}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
  </div>
{% endblock content %}
