{% extends "base.html" %}

{% block content %}

  <div class="ui grid">
    <div class="nine wide column">

      <h2 class="ui dividing header">
        Student: {{ student.name() }}
        <div class="sub header">{{ student.id }}</div>
      </h2>

      <div class="ui top attached fluid message">
        <div class="header">{{student.first_name}}'s Modules</div>
      </div>
      <div class="ui bottom attached fluid segment">
        {% for module in student.get_modules() %}
          <button class="ui button">{{ module.name }}</button>
        {% endfor %}
      </div>
    </div>
  </div>

{% endblock content %}
