{% extends "base.html" %}

{% block content %}

  <div class="ui grid">
    <div class="nine wide column">

      <h2 class="ui dividing header">
        Student: {{ student.name() }}
        <div class="sub header">{{ student.id }}</div>
      </h2>

      {% for module in student.get_modules() %}
        <div class="ui raised fluid segments">
          <div class="ui top attached message">
            <div class="header"><a href="/modules/{{module.id}}">{{ module.name }}</a></div>
          </div>

          <div class="ui attached segment">
            <div class="ui tiny horizontal statistic">
              <div class="value">
                {{ "{:.1%}".format(module.get_attendance_for_student(student)) }}
              </div>
              <div class="label">
                attended
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

{% endblock content %}
