{% extends "base.html" %}

{% block content %}
  <div class="buttons">
    {% if user.is_authenticated %}
      <div class="user-details">
        You are logged in as <code>{{ user.first_name }}</code>!
      </div>
    {% endif %}

    <div class="social">
      {% for sublist in available_backends|social_backends|slice_by(10) %}
        <div class="row">
          {% for name, backend in sublist %}
            {% set association = associated.get(name) %}
            {% if association %}
              <form id="{{ name }}-disconnect"
                    class="disconnect-form col-md-2"
                    action="{{ url("social:disconnect_individual", backend=association.provider, association_id=association.id) }}"
                    method="post">
                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                <a class="btn btn-danger" name="{{ backend|backend_class }}" href="#">
                  <i class="fa fa-{{ name|icon_name }}"></i>
                  Disconnect {{ backend|backend_name }}
                </a>
              </form>
            {% else %}
              <a id="{{ name }}-button"
                 class="ui primary button"
                 name="{{ backend|backend_class }}"
                 href="{{ url("social:begin", backend=name) }}">
                <i class="ui icon {{ name|icon_name }}"></i>
                {{ backend|backend_name }}
              </a>
            {% endif %}
          {% endfor %}
        </div>
      {% endfor %}
    </div>

    <!-- <div>
      <a class="btn btn-primary" href="/logout/" id="logout">
        <i class="fa fa-sign-out"></i>
        Logout
      </a>
    </div> -->
  </div>
{% endblock content %}
